<nav class="app-header navbar navbar-expand bg-body" th:fragment="nav">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
                    <i class="bi bi-list"></i>
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <span class="d-none d-md-inline">이름: <span th:text="${admin.getName()}"></span></span>
                <span class="d-none d-md-inline">권한: <span th:text="${admin.getRole()}"></span></span>
            </li>
        </ul>
    </div>
</nav>
